<h1>Welcome#index</h1>
<h1>Hello Heroku!</h1>
<h2>test h2</h2>
<p><%= Date.today %></p>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to '一行掲示板へ' ,articles_path , class: 'btn btn-primary'%>